$Darker: rgb(0, 43, 54);

$Dark: rgb(7, 54, 66);

$Brighter: rgb(253, 246, 227);

$Bright: rgb(238, 232, 213);

$TextDarker: rgb(88, 110, 117);

$TextDark: rgb(101, 123, 131);

$TextLight: rgb(131, 148, 150);

$TextLighter: rgb(147, 161, 161);

$Magenta: rgb(211, 54, 130);

$Red: rgb(220, 50, 47);

$Orange: rgb(203, 75, 22);

$Yellow: rgb(181, 137, 0);

$Green: rgb(42, 161, 152);

$Cyan: rgb(65, 133, 153);

$Blue: rgb(38, 139, 210);

$Violet: rgb(108, 113, 196);
