<div class="content-head">
    <div class="title" style="float: left;">
        HOME
    </div>
    <div class="login" style="float: right;">
        <!--button style="border-radius: 15px;" ng-click="login()">LOGIN</button-->
    </div>
</div>
